header {
  background-color: #2196F3;
  color: white;
  text-align: center;
}
h1 {
  font-weight: 400;
}
.navbar {
  background-color:orange;
  border-bottom: 5px solid red;
  overflow: hidden;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
}
.navbar a:hover{
  color: blue;
  background-color: #2196F3;
}
.container div{
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  bottom: 100px;
  padding: 10px;
}
.card{
  box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 50%;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 30px;
}
.th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
.td {
  border: 1px solid #ddd;
  padding: 8px;
}

.card-title {
  text-align: center;
  font-size: 2em;
  color: red;
  weight: 400;
}
.card-content {
  padding: 2px 16px;
}
.card-content: hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.footer{
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: #2196F3;
  color: white;
  float: right;
  font-weight: 400;
  padding-right: 10px;
  font-style: italic;
}

	